* {
    padding: 0;
    margin: 0;
}

*,
::before *,
::after {
box-sizing: border-box;
}

body {
    /* old background */
    /* background: linear-gradient(-45deg, #c42e00, #cf2868, #000000, #008353);*/
    animation: gradient 120s ease infinite; 
    background: url(./images/—Pngtree—abstract\ square\ glass\ effect_1908066.png) no-repeat;
    width: 100vw;
    height: 100vh;
    background-position: center;

}

/* animation code*/
@keyframes gradient {
    0% {
    background-position:50% 0%;
    }

    50% {
    background-position: 100% 50%;
    }

    100% {
    background-position: 50% 0%;
    }
  } 

span {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer {
    color: antiquewhite;
    width: 100vw;
    text-align: center;
    bottom: 0;
    padding: 5px;

}

/* nav bar styles */
header{
    background: transparent;
    border-radius: 12px;
    backdrop-filter: blur(25px);
    border-bottom: solid rgba(255, 255, 255, 0.2);
    /*width: 75%;
    margin: 0 auto;
    position: relative;
    top: 0;
    left: 0;*/
}

.nav-item {
    padding: 10px;
    font-size: 1.2rem;
    user-select: none;
}

.navbar-brand {
    user-select: none;
}

.navbar-toggler{
    color: antiquewhite;
    border: solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}
.nav-item:hover {
    background:linear-gradient(rgba(235, 226, 231, 0.266), rgba(0, 0, 0, 0.25));
    border-radius:8px 25px 8px 25px;
}

.nav-item:active{
    transform: scale(0.9);
    transition: 0.5s ease;
}

.navbar-toggler {
    padding: 10px;
}

.navbar-toggler:active {
    transition: 0.1s ease;
    transform: scale(0.89);
}
.nav-link {
    color: antiquewhite;
    text-decoration: none;
    font-weight: 1.05;
    font-family: 'Poppins', sans-serif;
}
div{
    padding: 5px;
    display:flex;
    justify-content: center;
    display: column;
}

.logo {
    padding-bottom: 5px;
    margin-right: 10px;
}

  /* contact us  */
.Contact {
    font-size: 2em;
    text-align: center;
    color: antiquewhite;
}

/* form style */
.Forms {
    display: grid;
    background: transparent;
    border: solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(25px);
    box-shadow: rgba(0, 0, 0, 0.425) 0px 0px 5px;
    padding: 20px;
    border-radius: 16px;
    width: 400px;
}

label {
    color: antiquewhite;
    display: block;
    margin-bottom: 10px;
}

input {
    width: 75%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 12px;
}

.button {
    color: lightgoldenrodyellow;
    background: transparent;
    border: solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(25px);
    padding: 10px;
    border-radius: 12px;
    width: 135px;
}

.button:hover {
    transition: 0.5s ease;
    transform: translateY(-5px);

}

.backtohome {
    color: lightgoldenrodyellow;
    background: transparent;
    border: solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    padding: 10px 15px;
    border-radius: 12px;
}

.backtohome:hover {
    transition: 0.5s ease;
    transform: translateY(-5px);
}

#Select {
    width: 75%;
    padding: 12px;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 12px;
}

  /* scroll animation */
.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(10px);
    transform: translate(0);
    transition-delay: 100ms;

}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
}
@media (max-width: 800px) {
    .Forms {
            display: grid;
            background: transparent;
            border: solid rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(15px);
            padding: 20px;
            border-radius: 16px;
            width: 300px;
        }
    .nav-item:hover {
            background:linear-gradient(rgba(235, 226, 231, 0.266), rgba(0, 0, 0, 0.25));
            border-radius:8px 25px 8px 25px;
        }

}