* {
    padding: 0;
    margin: 0;
}

*,
::before *,
::after {
    box-sizing: border-box;
}

body {
    /* gardient bg */
    /*background: linear-gradient(-60deg, #c42e00, #171616, #ae00ff , #e7c127, #ff5100);*/
    background-size: 1000% 1000%;
    background-image: url(./images/04-Pink_Orange_DM-4K.png);
    animation: gradient 50s ease-in-out infinite;
    height: 100vh;
    width: 100vw;
}

/* animation code */
@keyframes gradient {
    0% { background-position: 0% 50%;;}

    50% { background-position: 100% 50%;}

    100% {background-position: 0% 50%;}

}

/* nav bar styles */
header{
    backdrop-filter: blur(25px);
    
}
nav{
    background-color: rgba(255, 255, 255, 0.05);
    border-bottom: solid rgba(255, 255, 255, 0.2);
}

header.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(10px);
    transform: translate(0);
    transition-delay: 100ms;
}

header.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
    transition-delay: 50ms;
    box-shadow: rgba(0, 0, 0, 0.425) 0px 0px 5px;
}

/* nav-item */
.nav-item {
    padding: 10px;
    font-size: 1.2rem;
    user-select: none;
}

.navbar-brand {
    user-select: none;
}

.navbar-toggler{
    color: antiquewhite;
    border: solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
}
.nav-item:hover {
    background:linear-gradient(rgba(235, 226, 231, 0.266), rgba(0, 0, 0, 0.25));
    border-radius:8px 25px 8px 25px;
}

.nav-item:active{
    transform: scale(0.9);
    transition: 0.5s ease;
}

.navbar-toggler {
    padding: 10px;
}

.navbar-toggler:active {
    transition: 0.1s ease;
    transform: scale(0.89);
}
.nav-link {
    color: antiquewhite;
    text-decoration: none;
    font-weight: 1.05;
    font-family: 'Poppins', sans-serif;
}

/* logos */
.logo{
    padding:2px;
    margin-right: 10px;
    scale: 1;
    gap: 0.5rem;
}

#logo2{ 
    background: rgba(255, 255, 255, 0.0.5);
    border-radius: 20%;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.05);
    border: 2.5px solid rgba(255, 255, 255, 0.2);
}
/* logo hover */
#logo2:hover {
    transform: scale(1.2);
    background: rgba(255, 255, 255, 0.122);
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    border: solid rgba(255, 255, 255, 0.2);
    border-radius: 20%;
    transition: transform 0.8s ease;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4));
    cursor: pointer;
}
div{
    padding: 5px;
    display:flex;
    justify-content: center;
    display: column;
}
.learn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 40px;
}

.glass{
    background:  rgba(255, 255, 255, 0.055);
    backdrop-filter: blur(25px);
    border: solid rgba(255, 255, 255, 0.25);
    -webkit-backdrop-filter: blur(25px);
    border-radius: 20%;
    max-width: fit-content;
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.4), scale(1));
    transition: delay 0.8s ease;
}

.glass:hover{
    transform: scale(0.9);
    border-radius: 20%;
    transition: transform 1s ease;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
    border: solid rgba(255, 255, 255, 0.477);
    animation-play-state: paused;
}
/* logo transtion */

.learn:nth-child(1) {
    padding: 20px;
    transition-delay: 250ms;
    border-radius: 14px;

}

.learn:nth-child(2) {
    padding: 20px;
    transition-delay: 400ms;
    border-radius: 14px;
}

.learn:nth-child(3) {
    padding: 20px;
    transition-delay: 600ms;
    border-radius: 14px;
}

.learn:nth-child(4) {
    padding: 20px;
    transition-delay: 800ms;
    border-radius: 14px;
}


/* scroll animatiom */
.hidden {
    opacity: 0;
    transition: all 1s;
    filter: blur(10px);
    transform: translate(-50%);
    transition-delay: 100ms;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
    transition-delay: 50ms;
}

section {
    display: grid;
    place-items: center;
    align-items: center;
    min-height: 100vh;
}

footer {
    color: antiquewhite; 
    text-align: center;
    width: 100%;
    bottom: 0;
    padding: 5px;
}

/* small screen view */
@media (max-width: 1100px) {
    div{
        display: grid;
    }

    .leran:nth-child(1) {
        padding: 20px;
        transition-delay: 250ms;
        border-radius: 12px
    }

    .leran:nth-child(2) {
        padding: 20px;
        transition-delay: 500ms;
        border-radius: 12px
    }

    .leran:nth-child(3) {
        padding: 20px;
        transition-delay: 600ms;
        border-radius: 12px
    }

    .leran:nth-child(4) {
        padding: 20px;
        transition-delay: 800ms;
        border-radius: 12px
    }

    .nav-item {
        padding: 5px;
        user-select: none;
    }

    /* nav hover vertical */
    .nav-item:active {
        gap:0.5rem;
        transform: scale(0.9);
        transition: 0.8s ease;
        }
    .navbar-brand {
        user-select: none;
    }

    .nav-item:hover {
        transition: 0.25s ease;
        transform: scale(0.95);
    }

    .logo {
        padding-bottom: 5px;
        margin-right: 10px;
    }

}